@import url("panels/FoldablePanel/style.css");
@import url("panels/DockablePanel/style.css");
/********** popup adjustments ***********/
.esriPopupWrapper .title {
    cursor: move;
}
.esriPopup .hidden {display: none !important;}
.esriPopup {
    opacity: 0.9;
}
/********** styles for simple panel***********/
.jimu-simple-panel{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}